:root{
  --clr-dark-cyan:hsl(158,36%,37%);
  --clr-cream: hsl(30,38%,92%);
  --clr-very-dark-blue:hsl(212,21%,48%);
  --clr-white:hsl(0, 0%, 100%);
}

*, *::after, *::before{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--clr-cream);
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.card{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  background-color: #fff;
  height: 400px;
  border-radius: 10px;
}


.parfume-image{
  height: 400px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.product-sheet{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  justify-content: space-evenly;
}

.product-sheet h1{
  font-size: 30px;
  font-family: 'Fraunces', serif;
  line-height: 30px;
  width: 200px;
}

.product-sheet h2{
  font-weight: lighter;
  letter-spacing: 6px;
  color: var(--clr-very-dark-blue);
  margin-top: 5px;
  font-size: 10px;
}

.description{
  width: 220px;
  font-size: 13px;
  line-height: 23px;
  color: var(--clr-very-dark-blue);
}

.price{
  display: flex;
  width: 185px;
  justify-content: space-between;
  align-items: center;
}

.real-price{
  font-family: 'Fraunces', serif;
  font-size: 30px;
  color: var(--clr-dark-cyan);
}

.old-price{
  font-size: 12px;
  color: var(--clr-very-dark-blue);
  text-decoration: line-through;
}


.add-to-cart{
  height: 50px;
  background-color: var(--clr-dark-cyan);
  border-width: 0;
  color: var(--clr-white);
  width: 225px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 9px;
  border-radius: 5px;
  font-weight: bold;
}

.add-to-cart:hover{
  background-color: hsl(158, 37%, 27%);
  cursor: pointer;
}


@media screen and (max-width:550px) {
  .card{
    flex-direction: column;
    height: 800px;
    width: 80%;
    zoom: 200%;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .product-sheet{
    padding-left: 15px;
  }
  .parfume-image{
    background-image: url("./images/image-product-mobile.jpg");
    height: 240px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }